* {
    -moz-appearance: none;
    -webkit-appearance: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

header {

}

/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    font-size: calc( 5px + 0.5em);
    margin: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

nav img {
    margin: 5px;
    width: 40px;
    border-radius: 100%;
    padding: 10px;
    filter: grayscale(100);
}

nav img:hover {
    background-color: whitesmoke;
}

nav button {
    background-color: #1a73e8;
    color: white;
    min-width: 100px;
    width: calc(75px + 3vw);
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

#nav-half-1 {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-half-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px 0 30px;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#google-img {
    width: 250px;
    margin: 5vh;
}

#search-bar {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 700px;
    width: 90vw;
    border: solid 1px #e5e6e9;
    border-radius: 50px;
    padding: 10px;
}

#search-bar:hover {
    box-shadow: grey 0px 1px 10px;
}

#search-bar > input {
    width: 100%;
    border-radius: 50px;
    border: none;
}

#search-bar > img {
    width: 30px;
    height: 30px;
}

#search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 3vh;
    width: 300px;
    height: 40px;
}

#search-buttons > button {
    flex-basis: 40%;
    border-radius: 5%;
    font-size: medium;
    padding: 5px;
    background-color: #f8f9fa;
    font-size: calc( 5px + 0.4em);
    border: none;
}

#search-buttons > button:hover {
    border: solid 1px whitesmoke;
    box-shadow: grey 0px 0.5px 3.5px;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    font-size: calc( 5px + 0.5em);
}

#country-entry {
    padding: 15px;
    border-bottom: 0.5px solid grey;
}

#carbon-entry {
    padding-top: 10px;
}

#footer-flex-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-flex-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
}

#footer-flex-2 span {
    padding: 5px 20px;
}

.footer-flex-3 {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}